body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 3em;
}

.horizontal-center {
    text-align: center;
}

.horizontal-center-flex {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.div-logo {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.logo {
    max-width: 400px;
    height: auto;
    width: auto;
}

.excel-logo {
    max-width: 25%;
}

.button {
    margin: 20px;
}